# exclude all
/*

# include git related files
!.gitignore

# include source
!src/

# Maven related files
!pom.xml

# CMS related files
!README.md
!LICENSE

# CI related files
!.travis.yml

# Code Quality related files
!sonar-project.properties
